
<md-card class="whiteframe-16dp time-card" layout-align="top center">

    <md-toolbar layout-align="center center" class="md-primary">
        <div class="watch-text" layout="row">
            <span id="hours" style="" ng-click="toHourState()" ng-class="{'inactive': !isHourState}" >{{time.format('h')}}</span>
            <span id="time-split" ng-class="{'inactive': isHourState}">:</span>
            <span ng-click="toMinuteState()" ng-class="{'inactive': isHourState}">{{time.format('mm')}}</span>
            <div class="meridiem-text" layout="column">
                <span ng-class="{'inactive': !isAM()}" ng-click="toAM()">AM</span>
                <span ng-class="{'inactive': isAM()}" ng-click="toPM()">PM</span>

            </div>

        </div>
    </md-toolbar>

    <!--ng-show="isActiveTime(angle)" angle="{{angle}}"-->
    <!--ng-repeat="angle in angles"-->
    <!--ng-class="isActiveTime(angle) ? 'active-time' : 'transparent'"-->

    <div class="content" layout-align="center center">

        <div class="watch-face">
            <span class="center-point"></span>
            <span class="time-hand" ng-style="{'transform': timeHandStyle}"></span>
            <div layout-align="center center"
                    ng-repeat="angle in angles"
                    ng-click="setActiveTime(angle)"
                    class="deg md-primary transparent"
                    ng-class="{'active-text': isActiveTime(angle)}"
                    angle="{{angle}}">
                {{convertToTimeString(angle)}}
            </div>

            <timeslider>

            </timeslider>


        </div>

        <div class="footer"  align="right">
            <md-button ng-click="cancel()" class="md-primary">CANCEL</md-button>
            <md-button ng-click="ok()" class="md-primary">OK</md-button>

        </div>

    </div>
</md-card>
